* {
    margin: 0;
    padding: 0;
}

body {
	display: flex;
    justify-content: center;
    height: 100vh;

    .content {
        margin: auto auto;
        text-align: center;
        width: 80vw;

        &> iframe {
            
        }
    }
}


