* {
    margin: 0;
    padding: 0;
}

body {
    /* NavBar */
    &> nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      padding: 10px 20px;

        .logo {
          display: flex;
          align-items: center;
          margin-left: 2.5vw;
          
          &>a{


            &>img{
              width: 160px;
            }
          }

          
        }

        &> ul {
          list-style: none;
          margin: 0;
          padding: 0;
          text-align: center;

          &> li {
            display: inline-block;
            margin: 10px 40px;

            &> a {
              display: block;
              padding: 10px 0;
              color: #274C77;
              text-decoration: none;
              font-family: sans-serif;
              font-size: 12px;
              font-weight:bolder;
              text-transform: uppercase;
              transition: all 0.3s ease-in-out;
            }

            &> a:hover {
              color: #f1c40f;
            }
          }
        }
    }


    .background-image{

      background-image: url("../img/central.jpg");
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 73%;
      position: absolute;

      .title{
        position: absolute;
        bottom: 3.5vh;
        left: 4vw;
        color: #FFFFFF;
        font-size: 2em;
        font-weight: bold;
        font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;

      }
    } 
    
    .container {
      max-width: 1320px;
      margin: 0 auto;
      padding: 0px;
      margin-top: 78vh;

      .row {
        display: flex;
        flex-wrap: wrap;
        margin: 3vh 2vh;

        .col-md-6 {
          flex: 0 0 50%;
          max-width: 50%;
        }

        .col-lg-6 {
          flex: 0 0 50%;
          max-width: 50%;
        }

        #col{

          &> a{

            text-decoration: none;
            color: inherit;
  
            .card {
              position: relative;
              height: 320px;
              width: 100%;
              overflow: hidden;
  
              .card-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                
              }

              #img1 {
                background-image: url("../img/about2.webp");
                background-size: cover;
              }

              #img2 {
                background-image: url("../img/skills.webp");
                background-size: cover;
              }

              #img3 {
                background-image: url("../img/projects.webp");
                background-size: cover;
              }

              #img4 {
                background-image: url("../img/cv.webp");
                background-size: cover;
              }
  
              .card-title {
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 20px;
                color: white;
                background-color: rgba(0,0,0,0.5);
                width: 100%;
                font-size: 20px;
                text-align: left;
                text-decoration: none;
              }
  
              .card-title:hover {
                color: #f1c40f;
              }
  
            }
  
            .card:hover .card-title {
              background-color: rgba(0,0,0,0.7);
            }
  
          }
  
          a:hover {
            text-decoration: none;
          }

        }

        

      }
    }  
    
    
    &> footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      background-color: #ffffff;
      border-top: 3px solid #f2f2f2;
      height: 30vh;
      width: 90vw;
      margin: auto auto;

      .left-side {
        display: flex;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-left: 3vw;

        .leftArriba {
          margin-right: 4vw;
          margin-bottom: 3vh;
          margin-top: 3vh;

          &> img {
            width: 140px;
          }
        }
        
        .leftAbajo {
          font-size: 16px;
          font-family:sans-serif;
        }

      }

      .right-side {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 3vw;

        .rightArriba {
          display: flex;
          align-items: center;

          margin-bottom: 5vh;

          &> a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 40px;
            height: 40px;
            background-color: #E8E8E8;
            border-radius: 50%;
            margin-right: 16px;
            color: #333;
          }

          &> a:hover {
            background-color: #333;
            color: #fff;
          }

          &> p {
            font-size: 15px;
            margin:0 0 0 3vw;
            text-decoration: none;
            font-family: sans-serif;

            &> a {
              text-decoration: none;

              &>i {
                text-decoration: none;
              }
            }
          }

        } 

        .rightAbajo {
          font-size: 16px;
          font-family:sans-serif;
          text-align: right;
        }      

      }
      

    }
    
    

}
