@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}
body > nav .logo {
  display: flex;
  align-items: center;
  margin-left: 2.5vw;
}
body > nav .logo > a > img {
  width: 160px;
}
body > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
body > nav > ul > li {
  display: inline-block;
  margin: 10px 40px;
}
body > nav > ul > li > a {
  display: block;
  padding: 10px 0;
  color: #2A353D;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
body > nav > ul > li > a:hover {
  color: #f1c40f;
}
body .background-image {
  background-image: url("../../img/multi.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 40%; /* Ajusta la relación de aspecto de la imagen */
  position: relative; /* Cambiado a relative */
}
body .background-image .title {
  position: absolute;
  bottom: 3.5vh;
  left: 4vw;
  color: #FFFFFF;
  font-size: 3em;
  font-family: "Arial Narrow", Arial, sans-serif;
}
body .para {
  display: flex;
  margin: 6vh auto 5vh auto;
  width: 40%;
  border-bottom: 3px solid #f2f2f2;
}
body .para .titulito {
  color: #2A353D;
  text-align: center;
  align-items: center;
  margin: 10vh auto 5vh auto;
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: 500px;
}
body .contenido {
  margin: 5vh 30% 5vh 30%;
  text-align: left;
  font-family: sans-serif;
}
body .para2 {
  display: flex;
  margin: 4vh auto 1vh auto;
  width: 40%;
  height: 10%;
}
body .para2 .subtitulito {
  color: #2A353D;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1em;
  margin-top: 2px;
}
body > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  border-top: 3px solid #f2f2f2;
  height: 30vh;
  width: 90vw;
  margin: auto auto;
  margin-top: 5vh;
}
body > footer .left-side {
  display: flex;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}
body > footer .left-side .leftArriba {
  margin-right: 4vw;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
body > footer .left-side .leftArriba > img {
  width: 140px;
}
body > footer .left-side .leftAbajo {
  font-size: 16px;
  font-family: sans-serif;
}
body > footer .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 3vw;
}
body > footer .right-side .rightArriba {
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}
body > footer .right-side .rightArriba > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: #E8E8E8;
  border-radius: 50%;
  margin-right: 16px;
  color: #333;
}
body > footer .right-side .rightArriba > a:hover {
  background-color: #333;
  color: #f2f2f2;
}
body > footer .right-side .rightArriba > p {
  font-size: 15px;
  margin: 0 0 0 3vw;
  text-decoration: none;
  font-family: sans-serif;
}
body > footer .right-side .rightArriba > p > a {
  text-decoration: none;
}
body > footer .right-side .rightArriba > p > a > i {
  text-decoration: none;
}
body > footer .right-side .rightAbajo {
  font-size: 16px;
  font-family: sans-serif;
  text-align: right;
}

/*# sourceMappingURL=simulacion.css.map */
